*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Pretendard Variable;
}
header{
  position: relative;
  width: 100%;
}
.navbar{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  /* height: 100px; */
  padding: 0 50px;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 10;
  
  
}
.navbar ul i{
  display: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
}
.navbar ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 70px;
}
.navbar ul li>a{
  font-size: 1.5rem;
  /* padding: 50px; */
  
  text-decoration: none;
  color: White;
  /* text-shadow: 0px 0px 5px rgba(0,0,0,0.5); */
}
.navbar ul li>a:hover{
  color:  black;
}
.navbar ul li>button{
  font-size: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border:none;
  color:  rgb(216, 210, 210);
  background-color: rgb(36, 31, 31);
  transition: all 0.3s ease;

}
.navbar>div.menu_btn{
  display: none;
  font-size: 2rem;
  position: absolute;
  right: 50px;
  color:rgb(243, 243, 243);
  
  
}
.navbar>img{
  height: 100px;
  width: 100px;
  padding-left: 10px;
  scale: 1.5;
  border-radius: 50%;
  object-fit: contain;
  
}
.navbar ul li>button:hover{
  background-color: white;
  color: black;
}
@media (min-width:949px) and (max-width:1140px){

  .navbar ul{
    gap: 60px;
  }
  .navbar ul li>a{
    scale: 1;
    
    
  }
  .navbar ul>li>button{
   scale: 0.9;
   
   
  }
  .slideshow-container .text h2{
    font-size: 3rem;
  }
  .slideshow-container .text h1{
    font-size: 4.5rem;
  }
}
@media (min-width:865px) and (max-width:949px){

  .navbar ul{
    gap:50px;
  }
  .navbar ul li>a{
    scale: 0.85;
    
    
  }
  .navbar ul>li>button{
   scale: 0.85;
   
  }
  .slideshow-container .text h2{
    font-size: 2.5rem;
  }
  .slideshow-container .text h1{
    font-size: 4rem;
  }

}
@media (max-width:865px){
  .navbar{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 10;
 
}
 .navbar ul{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 35px;
  padding-left: 20px;
  height: 35vh;
  background-color: rgba(0,0,0,0.9);
  gap: 15px;
  width:30%;
  position: absolute; 
  top: 0;
  right: 0;
  z-index: 20;
  transition: all 0.3s ease;

  

  
 }
 .navbar ul i{
  display: block;
  color: white;
  
  
  
}
 .navbar ul li>button{
  font-size: 1.5rem;
  padding: 10px 30px;
  cursor: pointer;
  position: static;
  margin-top: 15px; 
  margin-left: 0px;
  border-radius: 10px;
  border:none;
  color:  rgb(31, 30, 30);
  background-color: rgb(207, 201, 201);
  transition: all 0.3s ease;

}
.navbar ul li>button:hover{
  background-color: #76441b;
  color: rgb(239, 231, 231);
}
.navbar ul li>a{
  color: white;
}
.navbar ul li>a:hover{
  color: rgb(214, 209, 209);
}

 .navbar>div.menu_btn{
  display: block;
}
.navbar ul.active {
  display: flex; 
}
.slideshow-container .text h2{
    font-size: 3rem;
  }
  .slideshow-container .text h1{
    font-size: 4.5rem;
  }
}

.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
  z-index: 5;
}
.slideshow-container .text{
  border: 2px solid red;
  position: absolute;
  top: 13vh;
  height: auto;
  width: 80vw;
}
.slideshow-container h1,h2{
  padding-left: 50px;
}
.slideshow-container h2{
  line-height: 2;
  color: rgb(222, 219, 219);
  font-size: 4rem;
  font-weight: 400;
}
.slideshow-container h1{
  color: white;
  top:25vh;
  font-size: 6rem;
  line-height: 1;
  font-weight: 550;

}
.mySlides {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.mySlides img {
  width: 100%;
  display: block; 
  object-fit: cover; 
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}